.second-level {
    display: none;
    position: absolute;
    top: 0;
    right: 100%; /* Change to right: 100% to make it appear on the left */
    background-color: rgb(112, 111, 121);
    border: 1px solid #ddd;
    min-width: 200px;
  }
  
  /* Show the second-level menu when hovering over the MIS item */
  .dropdown-item-hover:hover .second-level {
    display: block;
  }
  
  /* Optionally, add hover effects on the links */
  .dropdown-item:hover {
    background-color: rgb(161, 148, 148);
  }